<section>
    <div class="container vh-100">
        <div class="row h-100">
            <div class="align-content-center text-center">
                <figure class="figure">
                    <img class="figure-img face" height="200" width="200" src="assets/face.jpg" alt="Alexander Umale">
                    <figcaption class="figure-caption">
                        <h4 class="display-6">Alexander Umale</h4>
                        <p class="lead">Senior Software Engineer at Willis Towers Watson</p>
                    </figcaption>
                </figure>
                <h2 >About me</h2>
                <p>
                    I'm a Senior Software Engineer with over five+ years of recent experience building and optimizing web
                    applications and microservices. My journey in tech has been fueled by a passion for creating
                    efficient, scalable, and user-centered digital experiences that address real-world needs.
                    With a strong foundation in Angular, .NET Core, and Microsoft Azure cloud, I specialize in
                    developing end-to-end solutions that blend robust backend systems with dynamic, responsive
                    frontends.

                    <!--Senior Software Engineer with 5+ years of experience in developing and maintaining web
                    applications and microservices. specializing in Angular, .NET Core, and Microsoft Azure.
                    Strong experience in leading moderately complex initiatives,
                    contributing to large-scale strategic planning, and delivering high-quality solutions through
                    collaborative teamwork.
                    Expertise in both frontend and backend development, cloud infrastructure, and automated testing. -->
                </p>
            </div>
        </div>
    </div>
</section>