<nav class="navbar sticky-top navbar-expand-lg bg-light">
    <div class="container">
        <a href="#" class="navbar-brand">Alexander Umale</a>
        <div class="d-flex p-2">
            <a class="link-secondary p-2" href="https://linkedin.com/in/alexanderumale" title="linkedin link"
                target="_blank" rel="opener">
                <i class="bi bi-linkedin h4"></i>
            </a>
            <a class="link-secondary p-2" href="mailto:alexander.umale@gmail.com" title="Email address">
                <i class="bi bi-envelope-at-fill h4"></i>
            </a>
            <a class="link-secondary p-2" href="https://github.com/alexz01" title="Github link" target="_blank"
                rel="opener">
                <i class="bi bi-github h4"></i>
            </a>
            <a class="link-secondary p-2" href="assets/ResumeAlexanderUmale.pdf" title="Resume PDF" target="_blank"
                rel="opener">
                <i class="bi bi-filetype-pdf h4"></i>
            </a>
        </div>
        <ng-container *ngIf="navUrls.length > 0">
            <button class="navbar-toggler" type="button" (click)="navCollapsed=!navCollapsed"
                aria-controls="nav-content" [attr.aria-expanded]="!navCollapsed" aria-label="Toggle navigation"
                (blur)="closeNavTimed()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div [(ngbCollapse)]="navCollapsed" class="navbar-collapse justify-content-end" id="nav-content">
                <ul class="navbar-nav">
                    <li class="nav-item" *ngFor="let navUrl of navUrls">
                        <a class="nav-link" href="#{{navUrl.anchor}}" [title]="navUrl.title"
                            [class.active]="currentAnchor===navUrl.anchor">{{navUrl.title}}</a>
                    </li>
                </ul>
            </div>
        </ng-container>
    </div>
</nav>