<section>
    <p class="text-justified">
        Experienced Senior Software Engineer with 5+ years in developing and maintaining web applications and
        microservices,
        specializing in Angular, .NET Core, and Microsoft Azure. Strong experience in leading moderately complex
        initiatives,
        contributing to large-scale strategic planning, and delivering high-quality solutions through
        collaborative teamwork.
        Expertise in both frontend and backend development, cloud infrastructure, and automated testing.
    </p>
</section>