/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

body {
    margin: 0px;
    height: 100%;
    // font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-padding-top: 100px;
}

.text-justified {
    text-align: justify;
    text-justify: inter-word;
}

section {
    display: block;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}