/* You can add global styles to this file, and also import other style files */
@import 'bootstrap';
@import 'bootstrap-icons';

body {
    margin: 0px;
    height: 100%;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    // filter: grayscale(90%);
}

html {
    scroll-padding-top: 100px;
}

.text-justified {
    text-align: justify;
    text-justify: inter-word;
}

section {
    display: block;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

a, button.btn-link {
    text-decoration: none;
}

#test {
    background-image: url(assets/bg1.jpeg);
    background-attachment: fixed;
    background-size: cover;
    // max-width: 100%;
    // background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}

img.face{
    border-radius: 100px;
    // filter: grayscale(90%);
}