<div class="row">
    <aside >
        <h2>Alexander Umale</h2>
        <ul>
            <!--@todo add icons-->
            <li>
                <a href="https://linkedin.com/in/alexanderumale" title="linkedin link" target="_blank"
                    rel="opener">LinkedIn</a>
            </li>
            <li><a href="mailto:alexander.umale@gmail.com" title="Email address">Email</a></li>
            <li><a href="https://alexz01.github.io" title="Github link" target="_blank" rel="opener">Github</a></li>

            <li><a href="#introduction" title="Introduction">About me</a></li>
            <li><a href="#work-experience" title="Work experience">Work exp</a></li>
            <li><a href="#education" title="Education">Education</a></li>
        </ul>
    </aside>
    <main>
        <r-introduction id="introduction"></r-introduction>

        <r-work id="work-experience"></r-work>

        <r-education id="education"></r-education>
    </main>
</div>