<!-- <div class="container">
    <aside>
        <h3>Aside for </h3>
        <p>skill and stuff.</p>
        <p>skill and stuff.</p>
        <p>skill and stuff.</p>
        <p>skill and stuff.</p>
        <p>skill and stuff.</p>
        <p>skill and stuff.</p>
    </aside>
    <section>
        <h2>Name and stuff</h2>
        <p>Personal info</p>
    </section>
    <work-exp></work-exp>
    <section>
        <h3>Education</h3>
        <p>Info about education.</p>
    </section>
</div> -->
<h3>Hi there 👋</h3>
<p>I am Alex, a full stack developer (angular, .net).</p>
<p>I work for Liazon Corporation a Willis Towers watson company.</p>
<p>Reach me at:</p>
<ul>
    <li>
        <a href="mailto:alexander.umale@gmail.com">My Gmail</a>
    </li>
    <li>
        <a href="https://linkedin.com/in/alexanderumale">LinkedIn</a>
    </li>
    <li><a href="https://github.com/alexz01">Github</a></li>
</ul>