<nav class="navbar sticky-top navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Alexander Umale</a>
        <div class="d-flex p-2">
            <a class="link-secondary p-2" href="https://linkedin.com/in/alexanderumale" title="linkedin link"
                target="_blank" rel="opener">
                <i class="bi bi-linkedin"></i>
            </a>
            <a class="link-secondary p-2" href="mailto:alexander.umale@gmail.com" title="Email address">
                <i class="bi bi-envelope-at-fill"></i>
            </a>
            <a class="link-secondary p-2" href="https://alexz01.github.io" title="Github link" target="_blank"
                rel="opener">
                <i class="bi bi-github"></i>
            </a>
        </div>
        <button class="navbar-toggler" type="button" (click)="navCollapsed=!navCollapsed" aria-controls="nav-content"
            [attr.aria-expanded]="!navCollapsed" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [(ngbCollapse)]="navCollapsed" class="navbar-collapse justify-content-end" id="nav-content">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#introduction" title="Introduction" [class.active]="currentAnchor=='introduction'">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#work-experience" title="Work experience"[class.active]="currentAnchor=='work-experience'">Work XP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education" title="Education" [class.active]="currentAnchor=='education'">Education</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <r-introduction id="introduction"></r-introduction>

    <r-work id="work-experience"></r-work>

    <r-education id="education"></r-education>
</main>